body{
  background-color: #002E6D;
}
div#signup-form {
    border: solid #AF473C 12px;
    background-color: #FAFAFA;
    padding: 20px;
    width: 400px;
    margin: 100px auto;

  .field {
    margin-bottom: 20px;

    input{
      width: 100%;
      height: 30px;
      font-size: 15px;
    }

    label {
      font-style: italic;
      color: #333333;
    }
  }

  input[type="submit"] {
    width: 336px;
    font-size: 20px;
    margin: 0 auto;
  }
}
div#login-form {
    border: solid #AF473C 12px;
    background-color: #FAFAFA;
    padding: 20px;
    width: 400px;
    margin: 100px auto;

  .field {
    margin-bottom: 20px;

    input{
      width: 100%;
      height: 30px;
      font-size: 15px;
    }

    label {
      font-style: italic;
      color: #333333;
    }
  }

  input[type="submit"] {
    width: 336px;
    font-size: 20px;
    margin: 0 auto;
  }
}
