body{
  background-color: #002E60;
}
div#signup-form {
    border: solid #AF473C 10px;
    background-color: #FAFAFA;
    padding: 100px;
    width: 400px;
    margin: 0 auto;

  .field {
    margin-bottom: 20px;

    input{
      width: 100%;
      height: 30px;
      font-size: 15px;
    }

    label {
      font-style: italic;
      color: #333333;
    }
  }

  input[type="submit"] {
    width: 301px;
    font-size: 30px;
    margin: 0 auto;
  }
}


div#login-form{
  background-color: #FAFAFA;
  border: solid #AF473C 10px;
  background-color: #FAFAFA;
  padding: 100px;
  width: 400px;
  margin: 0 auto;

}
