// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue-color: #002E6D;


body {
  background-color: $blue-color;
}

ul{
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.company-name{
  font-size: 16px;
  margin-bottom: 15px;
  a{
    display: block;
  }
  a:hover{
    color: #AF473C;
  }
   a.btn:hover{
    background-color: #AF473C;
    border: none;
    color: white;
   }
}
