.logo {
  width: 200px;
  height:200px;
  margin:0 auto;
  border: solid #AF473C 1px;
}

#bio {
  color: white;
  border: ridge #AF473C 5px;
  font-size: 150%;
}
h1 {
  text-align: center;
  color: white;
}
