.bg-header {

  margin-top: 50px;
  margin-bottom: 50px;
  background-image: image-url("financial-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 350px;
}

a{
  text-decoration: none;
  text-align: center;
  padding-bottom: 10px;
}

a:hover{
  text-decoration: none;
}


